<!-- {% load crispy_forms_tags %} -->
{% load static %}
{% load compare_app_extras %}
{% load bootstrap4 %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

<!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static 'compare_app/templates.css' %}">

    <title>Bullion Market</title>


  </head>

  <body class="bg-light">

    {% load compare_app_extras %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Bullion Market</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'app-home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>

      </div>
    </nav>

<main role="main" class="container">
  <form method = "GET" >
    <div class="container">
      <!-- {{filter}} -->
      <div class="row form-group">
        <div class='col-md-3'>
          <label class="label">Wyszukaj po nazwie</label>
          {{ filter.NAME }}

        </div>

        <div class='col-md-3'>
          <label class="label">Filtruj wg sklepu</label>
          {{ filter.shop_filter }}
        </div>
        <div class='col-md-2'>
          <label class="label">Filtruj wg kruszcu</label>
          {{ filter.metals}}
        </div>

        <div class='col-md-2'>
          <label class="label">Sortuj wg:</label>
           {{filter.ordering}}
        </div>


        <div class="container custom-control custom-checkbox">
          <div class="row mb-1">

            <div class="col-sm-12" >
              {% for x in filter.weights%}

                       {{x}}

              {%endfor%}
            </div>
          </div>
            <div class="row ">
              <div class="col-sm-3">
              <input type="checkbox" name="select-all" id="select-all" value=""\>
              <label >Zaznacz/odznacz wszystkie</label></div>

          <div class="col-sm-9 ">
            <label for="staticEmail2" class="sr-only"></label>
            <input type="text" style=" text-align: right;" readonly class="form-control-plaintext" id="staticEmail2"
            value="Strony: {{queryset.number}}/{{queryset.paginator.num_pages}}">
          </div>
          </div>
      </div>

        </div>
      </div>
    </div>
    <div class="row mb-1">
    <div class="form-group col-md-8">
      <button type="submit" class="btn btn-primary">Szukaj</button>
    </div>


    <div class="form-group col-md-4 ">

    <nav>
      <ul class="pagination justify-content-end" >

        <li class="page-item">
          <a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">First</span>
          </a>
        </li>
        {% if not queryset.has_previous %}
          <li class="page-item active"><a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}">1</a></li>
          <li class="page-item"><a class="page-link" href="{% my_url 2 'page' request.GET.urlencode %}">2</a></li>
          <li class="page-item"><a class="page-link" href="{% my_url 3 'page' request.GET.urlencode %}">3</a></li>
        {% elif queryset.has_next %}
          <li class="page-item"><a class="page-link" href="{% my_url queryset.previous_page_number 'page' request.GET.urlencode %}">{{queryset.previous_page_number}}</a></li>
          <li class="page-item active"><a class="page-link" href="{% my_url queryset.number 'page' request.GET.urlencode %}">{{queryset.number}}</a></li>
          <li class="page-item"><a class="page-link" href="{% my_url queryset.next_page_number 'page' request.GET.urlencode %}">{{queryset.next_page_number}}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="{% my_url queryset.previous_page_number|add:-1 'page' request.GET.urlencode %}">{{queryset.previous_page_number|add:-1}}</a></li>
          <li class="page-item"><a class="page-link" href="{% my_url queryset.previous_page_number 'page' request.GET.urlencode %}">{{queryset.previous_page_number}}</a></li>
          <li class="page-item active"><a class="page-link" href="{% my_url queryset.paginator.num_pages 'page' request.GET.urlencode %}">{{queryset.paginator.num_pages}}</a></li>
        {% endif %}

        <li class="page-item">
          <a class="page-link" href="{% my_url queryset.paginator.num_pages 'page' request.GET.urlencode%}" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Last</span>
          </a>
        </li>
      </ul>
    </nav>
</div>
</div>




<table class="table onerow">
  <thead>
<tr>
  <th></th>
  <th>Nazwa</th>
  <th>Waga</th>
  <th class="col-sm-1">Cena</th>
  <!--<th>Cena/oz</th>-->
  <!--<th>Metal</th>-->
  <th>Sklep</th>
  <th class="col-sm-2">Data odświeżenia</th>
</tr>
  </thead>
  <tbody>
          {% for x in queryset %}
           <tr >
            {%if x.IMG_LINK == '' or x.IMG_LINK is NONE%}
            <td> <a></a>
            {% else %}
            <td><img src="{{x.IMG_LINK}}" alt="{{x.NAME}}" height=100 width=100></img></td>
            {%endif%}
            </td>
            <td >{{x.NAME}}</td>
            <td>{{x.WEIGHT}}</td>
            <td>{{x.PRICE_PLN}}</td>
            <!--<td >{{x.PRICE_PER_OZ_PLN}}</td>-->
            <!--<td>{{x.METAL}}</td>-->
            {%if x.IMG_LINK == '' or x.IMG_LINK is NONE%}
            <td> <a class="w-100 pointer" href = '{{x.LINK}}'>{{x.SHOP}}</a>
            {% else %}
            <td> <a class="w-100 pointer" data-toggle="popover-hover"
              data-img={{x.IMG_LINK}} href = '{{x.LINK}}'>{{x.SHOP}}</a>
            {%endif%}
            </td>
             <td>{{x.LOAD_TIME}}</td>
          </tr>
          {% endfor %}
  </tbody>
</table>
        <nav>
          <ul class="pagination justify-content-end" >

            <li class="page-item">
              <a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}" aria-label="First">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">First</span>
              </a>
            </li>
            {% if not queryset.has_previous %}
              <li class="page-item active"><a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}">1</a></li>
              <li class="page-item"><a class="page-link" href="{% my_url 2 'page' request.GET.urlencode %}">2</a></li>
              <li class="page-item"><a class="page-link" href="{% my_url 3 'page' request.GET.urlencode %}">3</a></li>
            {% elif queryset.has_next %}
              <li class="page-item"><a class="page-link" href="{% my_url queryset.previous_page_number 'page' request.GET.urlencode %}">{{queryset.previous_page_number}}</a></li>
              <li class="page-item active"><a class="page-link" href="{% my_url queryset.number 'page' request.GET.urlencode %}">{{queryset.number}}</a></li>
              <li class="page-item"><a class="page-link" href="{% my_url queryset.next_page_number 'page' request.GET.urlencode %}">{{queryset.next_page_number}}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="{% my_url queryset.previous_page_number|add:-1 'page' request.GET.urlencode %}">{{queryset.previous_page_number|add:-1}}</a></li>
              <li class="page-item"><a class="page-link" href="{% my_url queryset.previous_page_number 'page' request.GET.urlencode %}">{{queryset.previous_page_number}}</a></li>
              <li class="page-item active"><a class="page-link" href="{% my_url queryset.paginator.num_pages 'page' request.GET.urlencode %}">{{queryset.paginator.num_pages}}</a></li>
            {% endif %}

            <li class="page-item">
              <a class="page-link" href="{% my_url queryset.paginator.num_pages 'page' request.GET.urlencode%}" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Last</span>
              </a>
            </li>
          </ul>
        </nav>

</form>
</main>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/780a20832a.js" crossorigin="anonymous"></script>
<script src="{% static 'toggle_all.js' %}"></script>
<script src="{% static 'popover_image.js' %}"></script>



</body>
</html>
